Zadatak04 - Java/Zadatak04/src/Data/Tasty.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Recipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Recipe">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Id" type="xs:unsignedByte" />
              <xs:element name="Description" type="xs:string" />
              <xs:element name="Country" type="xs:string" />
              <xs:element name="PrepTimeMinutes" type="xs:unsignedByte" />
              <xs:element name="Language" type="xs:string" />
              <xs:element name="NumServings" type="xs:unsignedByte" />
              <xs:element name="VideoUrl" type="xs:string" />
              <xs:element name="ThumbnailUrl" type="xs:string" />
              <xs:element name="Rating" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>